


.bad{
    font-family: 'Ramaraja', serif;
}

.me {
    color:#F6E7D8;
}  

.pronouns {
 color:
#F68989 ;
}

.grade {
    color:#F68989;
}
.bad {
  Color:
#C65D7B;
}

.me {
    font-family: 'Bebas Neue', cursive;
font-family: 'Palette Mosaic', cursive;
}

.grade {
    font-family: 'Quicksand', sans-serif;
font-family: 'Ramaraja', serif;
}


img {
    width:90px;
}

a {
 color:#F68989  ;  
}
a{
  font-family: 'Smokum', cursive;
}
p{
background-color:#F6E7D8 ;
}

ul{
 background-color:#F6E7D8 ;
}  
a{
background-color:#F6E7D8 ;
}
    
